<mat-toolbar class="main-header custom-header">
  <span class="app-title">Smart Planner</span>

  <span class="spacer"></span>

  <div class="auth-actions">
    @if(router.url === '/login' || router.url === '/register'){
        <button mat-button routerLink="/home">Početna</button>
    }
    @else if (!isLoggedIn()){
      <button mat-button routerLink="/login">Prijavi se</button>
      <button mat-raised-button class="btn-register" routerLink="/register">Registruj se</button>
    }
    @else {
      <button mat-button (click)="goToCalendar()">Kalendar</button>
      <button mat-button (click)="onLogout()">Odjavi se</button>
    }
  </div>
</mat-toolbar>