<div class="note-container"
    [class.is-done]="generalNote().isDone" >
    
    <div class="note-left-section">
         <input type="checkbox" 
           [checked]="generalNote().isDone" 
           (change)="onSolveNote($event)" 
           class="note-checkbox">

    </div>
    <div class="note-content">
        <h2>{{generalNote().title}}</h2>
        <mat-label>{{generalNote().priority}}</mat-label>   
    </div>
    
    <div class="button-actions">
        <button class="edit-btn" (click)="$event.stopPropagation(); onEdit(generalNote())" title="Izmeni">
            <mat-icon>edit</mat-icon>
        </button>
    
        <button class="delete-btn" (click)="$event.stopPropagation(); onDelete(generalNote().id)" title="Obriši">
            <mat-icon>delete_outline</mat-icon> 
        </button>
    </div>
</div>
