<h2>Generalne obaveze</h2>

<button mat-raised-button color="primary" (click)="onAddNewGeneralNote()">
    Kreiraj generalnu obavezu
</button>

@if(generalNotesList().length === 0){
    <p>Niste kreirali nijednu veliku obavezu</p>

} @else {
    <div 
      cdkDropList 
      [cdkDropListData]="generalNotesList()" 
      (cdkDropListDropped)="onDrop($event)"
      class="notes-drop-list">

      @for(generalNote of generalNotesList(); track generalNote.id){
          <div cdkDrag class="note-drag-item">

              <app-general-note 
                  [generalNote]="generalNote" 
                  (editGeneralNote)="onUpdateGeneralNote($event)"
                  (toggleDone)="onSolveNote($event)"
                  (deleteNote)="onDeleteGeneralNote($event)"
                  >
              </app-general-note>

              <div class="note-drag-placeholder" *cdkDragPlaceholder></div>
              
          </div>
      }
    </div>
}
