<div class="login-container">
    <mat-card class="login-card">
        <mat-card-header class="login-card-header">
            <mat-card-title class="login-title">Prijavite se na svoj profil</mat-card-title>
        </mat-card-header>

        <mat-card-content class="login-card-content">
            <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
                <mat-form-field appearance="outline" class="login-form-field">
                    <mat-label>Vaša email adresa</mat-label>
                    <input matInput 
                        type="email" 
                        placeholder="Unesite email" 
                        formControlName="email" 
                        required
                    />
                    @if (loginForm.get('email')?.hasError('required')) {
                        <mat-error >Email je obavezan!</mat-error>
                    }
                    @if (loginForm.get('email')?.hasError('email')) {
                    <mat-error>Unesite validnu email adresu!</mat-error>
                    }
                </mat-form-field>   

                <mat-form-field appearance="outline" class="login-form-field">
                    <mat-label>Vaša lozinka</mat-label>
                    <input matInput 
                        type="password" 
                        placeholder="Unesite lozinku" 
                        formControlName="password" 
                        required
                    />
                    @if (loginForm.get('password')?.hasError('required')) {
                        <mat-error>Lozinka je obavezna!</mat-error>
                    }
                    
                </mat-form-field>
                <div class="login-buttons">
                    <button mat-flat-button color="primary" type="submit" >Prijavi se</button>
                     @if (!this.isLoginSucces){
                        <mat-error>Registracija nije uspela! Pokušajte ponovo!</mat-error>
                    }
                    
                </div>
            </form>

        </mat-card-content>
    </mat-card>
</div>
