<h2 mat-dialog-title>Izaberite datum kako biste kreirali planer za taj dan</h2>
<mat-dialog-content [formGroup]="dayForm">
    <mat-form-field appearance="outline">
        <mat-label>Datum</mat-label>
        <input 
            matInput 
            [matDatepicker]="picker" 
            [min]="minDate"
            formControlName="selectedDate"
            (click)="picker.open()" 
            placeholder="Kliknite za izbor datuma"
            readonly>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Otkaži</button>
  <button mat-raised-button color="primary" [disabled]="dayForm.invalid" (click)="onSave()">Kreiraj</button>
</mat-dialog-actions>
